@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #12141d;
  --foreground: #ededed;
  --primary: #d9ff32;
  --secondary: #7c5dfa;
}

@theme inline {
  --color-background: #e8e6e1;
  --color-foreground: #1a1a1a;
  --color-primary: #000000;
  --font-mono: "Courier Prime", monospace;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #1d2132;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}